img {
  background: transparent;
  display: block;
  width:80rem;
  height:55rem;
  margin: 10px auto;
}

html,
body {
  background-color: #24252a !important;
  font: normal 14px/100% "Andale Mono", AndaleMono, monospace !important;
}
